*.neoforge-tmp
*.tmp
session.lock

*

!/config/
/config/*
!/config/gatekeep.json

!/mods-extra/
!/mods-extra/**

!/world/
!/world/**

!/bum.sh
!/download.sh
!/eula.txt
!/git.sh
!/playit.sh
!/remove.sh
!/start.sh

!/server.properties
!/README.md
!/remlist.txt
!/mod.mrpack
!/.gitignore